{% block title %}CardsListBotBundle:Copy:index{% endblock %}

{% block body %}
<h1>Copied {{ number }}</h1>
{% endblock %}

<script>
    var number = {{ number }};
    number.select();
    document.execCommand("copy");
</script>
